body {
  background-color: #666;
  font-size: 12px;
  color:#fff;  
  padding:20px;
  margin:0px;
  font-family: Arial;
}


#content { 	
  text-align: left;
  vertical-align: middle;	
  margin: 0px auto;
  padding: 0px;
}

#map {
  margin: 0px auto;
  width: 800px;
  height: 500px;
  border: 
}

#wrapper {
  width:960px;
  margin: 0px auto;
}

.header{
text-align:center;
}

.fourth {
  width: 220px;
  margin-left:5px;
  margin-right:5px;
  padding: 5px;
  background-color:#333;
  float:left;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  height: 256px;
  margin-bottom: 10px;
}
.half {
  width: 440;
  margin-left:5px;
  margin-right:5px;
  padding: 5px;
  background-color:#333;
  float:left;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  min-height: 460px;
  margin-bottom: 10px;
}

.full {
  width: 900;
  margin-left:5px;
  margin-right:5px;
  padding: 5px;
  background-color:#333;
  float:left;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  min-height: 460px;
  margin-bottom: 10px;
}


#wapiblock-tos{
  display:none !important;
}

.clear {
  clear: both;
}

h1,h2,h3,h4,h5,h6 { font-family: 'Fontdiner Swanky', arial, serif; color: #ffffff; }


#overlay {
   position: fixed;
   z-index:199;
   top: 0px;
   left: 0px;
   height:100%;
   width:100%;
   background-image: url('transp.png');
   text-align:center;
}

#loading {
text-align: center;
  width: 300px;
  margin: 0 auto;
  z-index: 300;
  position: relative;
  top: 50%;
  background-color: #333333;
  padding: 10px;
  padding-right: 2px;
    -moz-border-radius: 15px;
  border-radius: 15px;
  margin:0 auto;
}


#overlay2 {
   position: fixed;
   z-index:199;
   top: 0px;
   left: 0px;
   height:100%;
   width:100%;
   background-image: url('transp.png');
   text-align:center;
}

#info {
text-align: center;
  width: 300px;
  height: 100px;
  color: #FFF;
  margin: 0 auto;
  z-index: 300;
  position: relative;
  top: 50%;
  background-color: #333333;
  padding: 10px;
  padding-right: 2px;
    -moz-border-radius: 15px;
  border-radius: 15px;
  margin:0 auto;
}



#upperdisplays {
  clear: both;
}

a {
  color: #666666;
  font-size: 16px;
}

#menu {
  text-align: left;
}
